body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, white, rgb(61, 125, 61));
  line-height: 25px;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.meditation-resources{
  margin: 0 10px;
}
a{
  color: black;
}
a:hover{
  color: white;
}